<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=full-width, initial-scale=1">
  <title>Client Resource Map</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/styles/style.css">
  <link rel='stylesheet' href='/styles/resourcesForClient.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <!--SIDE BAR-->
  <%- include('partials/_sideBar') %>
</head>

<body>

  <div class="container" id='resourceslist'>
    <div class="table-responsive">
      <div class="table-wrapper">
    

        <hr>
        <div class="internal-table">
          <div class="row">
            <div class="col">
              <h3><b>Resources Provided to: <%= result.rows[0].client_name %> </b>
              </h3>
            </div>
          </div>
        </div>
        <table class="table" id="table_id">
          <thead>
            <tr>
              <th>Provider:</th>
              <th>Resource Type:</th>
              <th>Provider Email:</th>
              <th>Provider Phone:</th>
              <th>Provider Address:</th>
            </tr>
          </thead>
          <tbody id="resources">
            <% for (let i=0; i < result.rows.length; i++){ %>
              <tr>
                <td>
                  <%= result.rows[i].provider_name %>
                </td>
                <td>
                  <%= result.rows[i].resource_type %>
                </td>
                <td>
                  <%= result.rows[i].provider_email %>
                </td>
                <td>
                  <%= result.rows[i].provider_phone %>
                </td>
                <td>
                  <a id="<%= result.rows[i].resource_id %>">
                    <%= result.rows[i].provider_address %>
                  </a>
                </td>
              </tr>
              <% } %>

          </tbody>
        </table>
      </div>
    </div>
    <div id="clientMap">
      <%- include('partials/resourcesforclientmap') %>
    </div>
</body>
<footer>
  <!--DATA TABLES-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>

  <script>
    $(document).ready(function () {
      $('#table_id').DataTable();
    });
  </script>

</footer>
</html>