<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RESOURCE DIRECTORY</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/styles/style.css">
  <link rel='stylesheet' href='/styles/resourcesforclient.css'>

  <!--SIDE BAR-->
  <%- include('partials/_sideBar') %>
</head>

<body>
  <div class="container">
    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-8 text-left">
          <h1>RESOURCE DIRECTORY</h1>
          <div>
            <button class="open" id="newResource">ADD NEW RESOURCE</button>
            <!--<div class="new-resource-modal">
              <div class="new-resource-input">
                <form class="new-resource-form">
                  <label for="provider"><span>PROVIDER<span class="required">*</span></span><input type="text" class="input-field" name="name" id="name" value="" /></label>
                  <label for="resource-type"><span>RESOURCE TYPE<span class="required">*</span></span><select name="field4" class="select-field">
                    <option value="Select-One">Select One</option>
                    <option value="counselling">Counselling</option>
                    <option value="housing">Housing</option>
                    <option value="legal">Legal</option>
                    <option value="addictions">Addictions</option>
                    <option value="child-care">Child Care</option>
                    <option value="shelter">Shelter</option>
                    <option value="career">Career</option>
                    </select></label>
                  <label for="email"><span>EMAIL<span class="required">*</span></span><input type="text" class="input-field" name="age" id="age"value="" /></label>
                  <label for="phone"><span>PHONE<span class="required">*</span></span><input type="text" class="input-field" name="age" id="age"value="" /></label>
                  <label for="address"><span>ADDRESS <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>
                <button class="add-resource">ADD</button>
                <button class="cancel">CANCEL</button>
              </form>
              </div>
            </div>-->
          </div>
          
          <hr>
          <table class="table" id="table_id" class="row-border stripe hover">
            <thead style="background-color: #1D3557; color: #f1faee; font-size: 15px; padding-top: 15px;">
                <th scope="col">PROVIDER</th>
                <th scope="col">RESOURCE TYPE</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PHONE</th>
                <th scope="col">ADDRESS</th>
            </thead>
            <tbody id="resources">

              <% for (let i=0; i < result.rows.length; i++){ %>
                <tr>
                  <td>
                    <%= result.rows[i].provider %>
                  </td>
                  <td>
                    <%= result.rows[i].resource_type %>
                  </td>
                  <td>
                    <%= result.rows[i].provider_email %>
                  </td>

                  <td>
                    <%= result.rows[i].provider_phone %>
                  </td>
                  <td>
                    <a id="<%= result.rows[i].id %>">
                      <%= result.rows[i].provider_address %>
                    </a>
                  </td>
                </tr>
                <% } %>
            </tbody>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding-bottom: 10px">
      <%- include('partials/resourcesforclientmap') %>
    </div>
  </div>
</body>
<footer>
  <!--DATA TABLES-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>

  <script>
    $(document).ready(function () {
      $('#table_id').DataTable();
    });
  </script>

</footer>

</html>