<div class="col-sm-8 text-left">

  <table class="table" id="table_id" class="display">
    <thead style="background: #A8DADC; border-bottom: 2px #1d3557;">
      <tr>
        <th>NAME</th>
        <th>PHONE</th>
        <th>ADDRESS</th>
        <th style="padding-left: 10px; padding-right: 10px;">APPLICATION DATE</th>
        <th>STATUS</th>
    </thead>
    </tr>

    <% for (let i=0; i < result.rows.length; i++){ %>
      <tr>
        <td style="padding-left: 10px; padding-right: 10px;">
          <a href="/clientfile/<%= result.rows[i].id %>">
            <%= result.rows[i].client_name %>
          </a>

        </td>
        <td style="padding-left: 10px; padding-right: 10px;">
          <%= result.rows[i].phone %>
        </td>
        <td>
          <%= result.rows[i].address %>
        </td>

        <td style="padding-left: 15px; padding-right: 15px;">
          <%= result.rows[i].applied_at.toString().substring(0,16) %>
        </td>
        <td style="padding-left: 10px; padding-right: 10px;">
          <%= result.rows[i].status %>
        </td>
      </tr>
      <% } %>
  </table>
</div>