<div class="col-sm-8 text-left">

  <table class="table" id="clients" class="display">
    <thead>
      <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>PHONE</th>
        <th>ADDRESS</th>
        <th>APPLICATION DATE</th>
        <th>STATUS</th>
    </thead>
    </tr>

    <% for (let i=0; i < result.rows.length; i++){ %>
      <tr>
        <td>
          <a href="/clientfile/<%= result.rows[i].id %>">
            <%= result.rows[i].name %>
          </a>

        </td>
        <td>
          <%= result.rows[i].age %>
        </td>
        <td>
          <%= result.rows[i].phone %>
        </td>
        <td>
          <%= result.rows[i].address %>
        </td>

        <td>
          <%= result.rows[i].applied_at.toString().substring(0,16) %>
        </td>
        <td>
          <%= result.rows[i].status %>
        </td>
      </tr>
      <% } %>
  </table>
</div>