<div class="col-sm-8 text-left">

  <table class="table" id="table_id" class="display">
    <thead>
      <tr>
        <th>Client</th>
        <th>Todo</th>
        <th>Date</th>
        <th>Time</th>
        <th>Completed?</th>
    </thead>
    </tr>
    <% for (let i=0; i < result1.rows.length; i++){ %>
      <tr>
        <td>
          <%= result1.rows[i].name %>
        </td>
        <td>
          <%= result1.rows[i].item %>
        </td>
        <td>
          <%= result1.rows[i].date %>
        </td>
        <td>
          <%= result1.rows[i].time %>
        </td>
        <td>
          <% if(result1.rows[i].completed=false ){ %>
            <form method="POST" action="/toDos/<%= result1.rows[i].completed %>">
              <button id="complete-to-do-button" name="<%= result1.rows[i].id %>" type="submit"
                class="btn btn-outline-primary">Complete</button>
            </form>
            <% }else{ %>
              <p>Task completed</p>
              <% } %>
        </td>
        <td>
          <form method="POST" action="/delete/<%= result1.rows[i].id %>">
            <button id="complete-to-do-button" name="<%= result1.rows[i].id %>" type="submit"
              class="btn btn-outline-primary">Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
        <script>
        </script>