<div class="col-sm-8 text-left">

  <table class="todo-table">

    <thead class="todo-table" style="background: #A8DADC">
      <tr>
        <th class="client-name" id="todo-content">NAME</th>
        <th id="todo">TO-DO</th>
        <th class="todo-date" id="todo-content">DATE</th>
        <th class ="time" id="todo-content">TIME</th>
    </thead>
    <tbody id="to-do-container">
      <% for (let i=0; i < result1.rows.length; i++){ %>
        <% if(result1.rows[i].completed==false){ %>
          <tr>

            <td style="padding-left: 15px; padding-right: 15px;">
              <%= result1.rows[i].name %>
            </td>
            <td style="padding-left: 10px; padding-right: 10px;">
              <%= result1.rows[i].item %>
            </td>
            <td style="padding-left: 10px; padding-right: 10px;">
              <%= result1.rows[i].date.toString().substring(0,16) %>
            </td>
            <td style="padding-left: 10px; padding-right: 15px;">
              <%= result1.rows[i].time %>
            </td>
            <td>
              <button class="btn btn-danger" style="background: #E63946; padding-left: 10px;" class="delete" id='<%= result1.rows[i].todoid %>' onClick="delete_click(this.id)"
                type="submit">DELETE</button>
            </td>
            <td>
              <button class="btn btn-outline-primary" id='<%= result1.rows[i].todoid %>'
                onClick="complete_click(this.id)" type="submit">DONE</button>
            </td>
          </tr>
          <% } else{ %>
            <tr>
              <td>
                <%= result1.rows[i].name %>
              </td>
              <td>
                <%= result1.rows[i].item %>
              </td>
              <td>
                <%= result1.rows[i].date.toString().substring(0,16) %>
              </td>
              <td>
                <%= result1.rows[i].time %>
              </td>
              <td>
                <button class="btn btn-danger" style="background: #E63946" id='<%= result1.rows[i].todoid %>' onClick="delete_click(this.id)"
                  type="submit">DELETE</button>
              </td>
            </tr>
            <% } %>
              <% } %>
    </tbody>

  </table>

</div>
<script>
</script>