<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
    text-align: left;
  }
</style>
<form action="/" method="POST" id="post-form">
  <div>
    <input name="date" id="date" type="date">
    <input id="date" type="submit" value="Change day">
  </div>
</form>
<table>
  <thead>
    <p>To Dos: <%= result1.rows.date %>
    </p>
  </thead>
  <% for (let i=0; i < result1.rows.length; i++){ %>
    <tr>
      <th>Related to applicant id:</th>
      <td>
        <%= result1.rows[i].applicant_id %>
      </td>
    </tr>

    <tr>
      <th>Applicant name:</th>
      <td>
        <%= result1.rows[i].name %>
      </td>
    <tr>

    <tr>
      <th>Todo:</th>
      <td>
        <%= result1.rows[i].item %>
      </td>
    </tr>

    <tr>
      <th>Date:</th>
      <td>
        <%= result1.rows[i].date %>
      </td>
    </tr>

    <tr>
      <th>Time:</th>
      <td>
        <%= result1.rows[i].time %>
      </td>
    </tr>

    <tr></tr>
    <th>Is Completed?</th>
    <td>
      <%= result1.rows[i].completed %>
    </td>
    </tr>
    <% } %>
</table>

<script>
</script>