<div class="col-sm-8 text-left">

  <table class="table" id="table_id" class="display">

    <thead>
      <tr>
        <th>Client Id</th>
        <th>Client Name</th>
        <th>Todo</th>
        <th>Date</th>
        <th>Time</th>
    </thead>
    <tbody id="to-do-container">
      <% for (let i=0; i < result1.rows.length; i++){ %>
        <% if(result1.rows[i].completed==false){ %>
          <tr id="toDo-<%= result1.rows[i].todoid %>">
            <td>
              <%= result1.rows[i].client_id %>
            </td>
            <td>
              <%= result1.rows[i].name %>
            </td>
            <td>
              <%= result1.rows[i].item %>
            </td>
            <td>
              <%= result1.rows[i].date.toString().substring(0,16) %>
            </td>
            <td>
              <%= result1.rows[i].time %>
            </td>
            <td>
              <button class="btn btn-danger" style="background: #E63946" class="delete" id='<%= result1.rows[i].todoid %>' onClick="delete_click(this.id)"
                type="submit">DELETE</button>
            </td>
            <td>
              <button class="btn btn-outline-primary" id='<%= result1.rows[i].todoid %>'
                onClick="complete_click(this.id)" type="submit">DONE</button>
            </td>
          </tr>
          <% } else{ %>
            <tr id="toDo-<%= result1.rows[i].todoid %>" class="btn-success">
              <td>
                <%= result1.rows[i].client_id %>
              </td>
              <td>
                <%= result1.rows[i].name %>
              </td>
              <td>
                <%= result1.rows[i].item %>
              </td>
              <td>
                <%= result1.rows[i].date.toString().substring(0,16) %>
              </td>
              <td>
                <%= result1.rows[i].time %>
              </td>
              <td>
                <button class="btn btn-danger" style="background: #E63946" id='<%= result1.rows[i].todoid %>' onClick="delete_click(this.id)"
                  type="submit">DELETE</button>
              </td>
            </tr>
            <% } %>
              <% } %>
    </tbody>

  </table>

</div>
<script>
</script>